doctype html

- const isPlayer = sessionUser == whitePlayer || sessionUser == blackPlayer

html
    head 
        if gameExists
            title Chess - Game: #{whitePlayer} - #{blackPlayer}
        else 
            title Chess - Game not found
        link(rel="stylesheet", href="/home/home.css")
        link(rel="stylesheet", href="/home/game.css")
        link(rel="stylesheet", href="/home/user_links.css")
    
    body 
        include ./universal_header


        
        div(id="mainBody")
            if gameExists 
                p#gameJson #{gameJson}
                div#game-div
                    canvas#board


                    
                    if isPlayer
                        ul#promotion-list
                    
                    div#game-menu
                        script(type="module" src="../view_game.js")
                        h1
                            a.user-link(href='http://localhost:8080/user/' + whitePlayer) #{whitePlayer}
                            |  vs 
                            a.user-link(href='http://localhost:8080/user/' + blackPlayer) #{blackPlayer}
                        
                        button#switch-perspective(type="button") Switch perspective
                        if isPlayer 
                            button#resign-button(type="button") Resign
                            script(type="module" src="../play_game.js")
                

            else
                p Game not found.

        include ./universal_footer
