doctype html

- const isPlayer = sessionUser == whitePlayer || sessionUser == blackPlayer

html
    head 
        if gameExists
            title Chess - Game: #{whitePlayer} - #{blackPlayer}
        else 
            title Chess - Game not found
        link(rel="stylesheet", href="/game_page.css")
    
    body 
        include ./universal_header
        
        div(id="mainBody")
            if gameExists 
                p#gameJson #{gameJson}
                div#game-div
                    canvas#board


                    
                    if isPlayer
                        ul#promotion-list
                    
                    div#game-menu
                        script(type="module" src="/view_game.js")
                        h3.game-menu-header
                            a.button(href='http://localhost:8080/user/' + whitePlayer) #{whitePlayer}
                            |  vs 
                            a.button(href='http://localhost:8080/user/' + blackPlayer) #{blackPlayer}
                        
                        p#game-result 

                        button#switch-perspective.button(type="button") Switch perspective
                        if isPlayer 
                            button#resign-button.button(type="button") Resign
                            script(type="module" src="/play_game.js")
                

            else
                p Game not found.

        include ./universal_footer
