doctype html

html
    head 
        title Chess - #{pageUser}
        link(rel="stylesheet", href="/home/user.css")
        link(rel="stylesheet", href="/home/user_links.css")
    
    body 
        include ./universal_header

        div#mainBody
            -const userExists = profileWins !== undefined;
            if userExists
                div#user-header
                    div#user-header-main
                        h1 #{pageUser}
                        ul
                            li.past-game-victory Wins: #{profileWins}
                            li Draws: #{profileDraws}
                            li.past-game-defeat Losses #{profileLosses}

                    if history !== undefined
                        div#history-with-you
                            h2 Your history with #{pageUser}
                            ul
                                li.past-game-victory Wins: #{history.wins}
                                li Draws: #{history.draws}
                                li.past-game-defeat Losses #{history.losses}

                section#game-history 
                    h1 Game History
                    if games
                        ul
                            each game in games
                                li.past-game
                                    -const duration = Math.floor((game.ended - game.started) / 1000);
                                    h3
                                        a.user-link(href='http://localhost:8080/user/' + game.white) #{game.white}
                                        |  vs 
                                        a.user-link(href='http://localhost:8080/user/' + game.black) #{game.black}
                                    p #{game.started}
                                    p #{duration} seconds
                                        
                                    if game.result === 'W'
                                        -var winner = 'White';
                                        -var loser = 'Black';
                                    else 
                                        -var winner = 'Black';
                                        -var loser = 'White';


                                    if game.dueTo === 'M'
                                        -var resultText = 'Checkmate. ' + winner + ' won.';
                                    else if game.dueTo === 'R'
                                        -var resultText = loser + ' resigned.';

                                    -const pageWon = pageUser === game.white && game.result === 'W' || pageUser === game.black && game.result === 'B';

                                    if pageWon
                                        p.past-game-victory #{resultText}
                                    else 
                                        p.past-game-defeat #{resultText}



            else
                p No profile found for #{pageUser}!
        
        
        include ./universal_footer
