doctype html

html
    head 
        title Chess - #{pageUser}
        link(rel="stylesheet", href="/user_page.css")

    body 
        include ./universal_header

        div.profile-detailed
            -const userExists = profileWins !== undefined;
            if userExists
                div.profile-header
                    div.profile-header-main
                        h1 #{pageUser}
                        ul
                            li.game-victory Wins: #{profileWins}
                            li Draws: #{profileDraws}
                            li.game-defeat Losses #{profileLosses}

                    if history !== undefined
                        div.history-with-you
                            h2 Your history with #{pageUser}
                            ul
                                li.game-victory Wins: #{history.wins}
                                li Draws: #{history.draws}
                                li.game-defeat Losses #{history.losses}

                section.game-history 
                    h1 Game History
                    if games
                        ul
                            each game in games
                                li.past-game
                                    h3
                                        a.button(href='http://localhost:8080/user/' + game.white) #{game.white}
                                        |  vs 
                                        a.button(href='http://localhost:8080/user/' + game.black) #{game.black}

                                    -const duration = Math.floor((game.ended - game.started) / 1000);
                                    p.date-time #{game.started}
                                    p #{duration} seconds
                                        
                                    if game.result === 'W'
                                        -var winner = 'White';
                                        -var loser = 'Black';
                                    else 
                                        -var winner = 'Black';
                                        -var loser = 'White';


                                    if game.dueTo === 'M'
                                        -var resultText = 'Checkmate. ' + winner + ' won.';
                                    else if game.dueTo === 'R'
                                        -var resultText = loser + ' resigned.';

                                    -const pageWon = pageUser === game.white && game.result === 'W' || pageUser === game.black && game.result === 'B';

                                    if pageWon
                                        p.game-victory #{resultText}
                                    else 
                                        p.game-defeat #{resultText}

                        script
                            include ./clientside_date_converter.js



            else
                p No profile found for #{pageUser}!
        
        
        include ./universal_footer
